{{$coverImage := or .Params.image .Params.cover .Site.Params.cover}}

{{if not $coverImage}}
<header class="main-header tag-head no-cover">
{{else}}
<header class="main-header tag-head" style="background-image: url({{$coverImage}})">
{{end}}

{{partial "nav.html" .}}

<div class="vertical">
  <div class="main-header-content inner">
      {{ if eq .Title "Editor" }}
      <h1 class="page-title">Editors</h1>
      {{ else }}
      <h1 class="page-title">{{.Title | truncate 50}}</h1>
    {{ end }}
    {{with .Params.description}}
    <h2 class="page-description">{{.}}</h2>
    {{end}}
  </div>
</div>
</header>
