{{$author := index .Site.Author .Page.Data.Term }}

<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  {{partial "head/includes.html" .}}
</head>
<body class="nav-closed">
  {{partial "navigation.html" .}}

  <div class="site-wrapper">
    {{partial "covers/paging.html" .}}

    {{partial "nav.html" .}}
  </header>

  <main class="content" role="main">
    <article class="post">
      <div class="vertical">
        <div class="main-header-content inner">
         {{if $author.thumbnail}}
           <div class="author-cover-img" style="background-image: url({{$author.thumbnail}})"></div>
         {{end}}
         <p>{{ $author.bio}}
        </div>
      </div>
      <section class="post-content">
        {{.Content}}
      </section>
      <h2>Articles</h2>
        {{ $posts := where .Pages "Section" "==" "post" }}
        {{range $posts.GroupByDate "2006" "desc"}}
        <section class="date-list">
          <h4>{{.Key}}</h4>
          <ul>
            {{range where .Pages "Section" "!=" "author"}}
            <li>
              <a href="{{.Permalink}}">{{.Title}}</a> &mdash; {{.Date.Format "Jan 2"}}
            </li>
            {{end}}
          </ul>
        </section>
        {{end}}
      <footer class="post-footer">

      </footer>
    </article>
  </main>

    {{partial "footer.html" .}}

  </div>

  {{partial "scripts.html" .}}
</body>
</html>
